body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #e5ddd5;
}

#nameSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 25px;
  background-color: #0000006e;
  border-radius: 22px;
  border: 2px solid #ed145b;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 45%;
  height: 50vh;
  margin: 0 auto;
}

#nameSection h2 {
  margin-bottom: 15px;
  color: #b1b6b8;
  font-size: 1.8rem;
  font-family: Arial, sans-serif;
}

#nameSection input[type="text"] {
  padding: 18px 10px;
  width: 70%;
  margin-bottom: 12px;
  border: 1px solid #b1b6b8;
  border-radius: 4px;
  font-size: 20px;
  background: none ;
  color: #b1b6b8;
  outline: none;

}

#nameSection input[type="text"]:focus {
  outline: none;
}

#nameSection button {
  padding: 20px 10px;
  width: 60%;
  background: none;
  color: #ed145b;
  border: 2px solid #ed145b;
  border-radius: 8px;
  cursor: pointer;
  font-size: 22px;
  font-weight: bold;
}

#nameSection button:hover {
  box-shadow: #ed145b 0px 0px 10px;
  transition: ease-in-out 0.3s;
  background-color: #ed145b;
  color: #000;
}

.container {
  width: 100%;
  height: 100vh;
  background: #ffffff;
  overflow: hidden; 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url(./assets/bg-desktop.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#chatSection{
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

span{
  text-align: center;
}

#messages {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 75vh;
  overflow-y: auto;
  padding: 10px;
  background-color: #000;
  border: 4px solid #ed145b;
  border-radius: 20px;
}

#messages .mymessagediv {
  display: flex;
  justify-content: start;
  align-items: end;
  width: 100%;
  color: #fff;
  flex-direction: column;
}

.myMessage{
  font-size: 1.4rem;
  padding: 4vh;
  text-align: right;
  min-width: 10%;
  max-width: 40%;
  border-radius: 12px;
  background-color: #ed145b;
  color: #b1b6b8;
  font-weight: bold;
  word-wrap: break-word;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #ed145b;
  border-radius: 30px;
}

::-webkit-scrollbar-track {
  background: #000;
  border-top: 1px solid #ed145b;
  border-bottom: 1px solid #ed145b;
  border-radius: 30px;
}

h3{
  color: #b1b6b8;
  font-size: 1.8rem;
  font-weight: bold;
}

#messages .otherMessagediv {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: start;
  width: 100%;
  color: #fff;
}

.otherMessage{
  font-size: 1.4rem;
  padding: 4vh;
  text-align: left;
  min-width: 10%;
  max-width: 40%;
  background-color: #ed145b;
  border-radius: 12px;
  color: #b1b6b8;
  font-weight: bold;
  word-wrap: break-word;
}

.hidden {
  display: none;
}

.inputArea {
  display: flex;
  width: 90%;
  height: 10vh;
  padding: 10px;
  background: none;
  gap: 10px;
}

#messageInput {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  outline: none;
  background: none;
  font-size: 1.6rem;
  color: #b1b6b8;
}

#messageInput::placeholder {
  font-size: 1.6rem;
}

button {
  padding: 10px 20px;
  border: none;
  background: none;
  color: #ed145b;
  border: 2px solid #ed145b; 
  transition: background 0.3s;
  font-size: 1.4rem;
  font-weight: bold;
  border-radius: 8px;
}

button:hover {
  box-shadow: #ed145b 0px 0px 10px;
  transition: ease-in-out 0.1s;
  background-color: #ed145b;
  color: #000;
  cursor: pointer;
}

@media (max-width: 768px) {
  #nameSection {
    width: 80%;
    height: 35vh; 
  }

  #nameSection input[type="text"],
  #nameSection button {
    width: 90%; 
  }

  #messages {
    width: 90%;
    height: 85vh; 
  }

  .myMessage, .otherMessage {
    max-width: 80%; 
  }

  .inputArea {
    width: 95%;
    padding: 5px;
    gap: 10px;
    margin-top: 1vh;
  }

  #messageInput {
    font-size: 1.2rem;
    padding: 8px;
    width: 60%;
  }

  button {
    padding: 6px 14px;
    font-size: 1rem;
  }

  h3{
    font-size: 1.2rem;
  }
}